@model IEnumerable<Project.Web.ViewModels.Posts.PostViewModel>

@{
    ViewBag.Title = "Последни новини";
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
        <hr/>
        <div>
            @foreach (var post in Model)
            {
                <h1>@post.Title</h1>
                <p>@post.Content</p>
                <span>Posted by @post.Author on @post.DateCreated.Date</span>
            }
        </div>
    </div>
</div>